<h1>Game#new</h1>
<p>Find me in app/views/game/new.html.erb</p>

<div id="board">
    <div id="tictactoe">
    </div>
</div>

<div id="board_login">
    <!-- <div id="login"> -->
    <!-- </div> -->
</div>